# Sets membership

In [1]:
s5 = {2,3,'nit',1+2j,True,45.8}
s5

{(1+2j), 2, 3, 45.8, True, 'nit'}

In [2]:
type(s5)

set

In [3]:
2 in s5 # does 2 comes in s5 family

True

In [4]:
200 in s5

False

In [5]:
for i in s5:
    print(i)

True
2
3
(1+2j)
nit
45.8

In [6]:
for i in enumerate(s5):
    print(i)

(0, True)
(1, 2)
(2, 3)
(3, (1+2j))
(4, 'nit')
(5, 45.8)

In [13]:
s5.update(['ten',1,2,3])  # add multiple elements in set 
s5

{(1+2j), 2, 3, 45.8, True, 'nit', 'ten'}

In [14]:
s6 = s5.copy
print(s6)

<built-in method copy of set object at 0x0000019B487DD700>

# Set operation

# UNiON

In [46]:
s1 = {1,2,3,4,5,6}
s2 = {4,5,6,7,8}
s3 = {8,9,10}

In [41]:
s1.union(s2,s3)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [33]:
s1.union(s2,s3,56)  # int object is not iterable

TypeError: 'int' object is not iterable

In [34]:
s1|s2

{1, 2, 3, 4, 5, 6, 7, 8}

In [35]:
s1|s2|s3

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

# intersection

#  intersection takes only one argument

In [36]:
s1.intersection(s2)

{4, 5, 6}

In [47]:
s1.intersection(s2,s3)

set()

In [38]:
s1 & s2

{4, 5, 6}

In [48]:
s1 & s2 & s3

set()

In [42]:
s2 & s3

{8}

# difference

In [49]:
s1 - s2 # remove the elements of s2 from s1

{1, 2, 3}

In [50]:
s1.difference(s2)

{1, 2, 3}

In [52]:
s1 - s3

{1, 2, 3, 4, 5, 6}

In [54]:
s3 - s1

{8, 9, 10}

# symmetric difference

In [56]:
s1.symmetric_difference(s2) # remove the similar elements from the set

{1, 2, 3, 7, 8}

In [57]:
s1.symmetric_difference(s3)

{1, 2, 3, 4, 5, 6, 8, 9, 10}

In [58]:
s2.symmetric_difference(s3)

{4, 5, 6, 7, 9, 10}

# superset

In [59]:
A = {1,2,3,4,5,6,7,8,9}
B = {3,4,5,6,7,8}
C = {10,20,30,40}

In [60]:
A.issuperset(B)

True

In [61]:
A.issuperset(C)

False

In [62]:
B.issuperset(A)

False

In [63]:
C.issuperset(B)

False

# subset

In [64]:
B.issubset(A)

True

In [65]:
B.issubset(C)

False

In [66]:
A.issubset(C)

False

In [67]:
A.issubset(C)

False

# disjoint

In [68]:
A.isdisjoint(C)

True

In [69]:
A.isdisjoint(B)

False

In [70]:
B.isdisjoint(C)

True

# other function in set

In [71]:
max(A)

9

In [72]:
min(A)

1

In [73]:
sum(A)

45

# DICTIONARY

In [1]:
d ={}
type(d)

dict

In [2]:
d1={1:"one",2:"two",3:"three"}
d1

{1: 'one', 2: 'two', 3: 'three'}

In [3]:
d1.keys()

dict_keys([1, 2, 3])

In [4]:
d1.values()

dict_values(['one', 'two', 'three'])

In [5]:
d1.items()

dict_items([(1, 'one'), (2, 'two'), (3, 'three')])

In [6]:
len(d1.items())

3

In [7]:
d1[1]

'one'

# credibility goes to keys not values

In [8]:
d1["one"]

KeyError: 'one'

In [10]:
print(d1.get("one"))

None

# membership in dictionary

In [14]:
"one" in d1

False