VARIABLE

In [1]:
a = 5

In [2]:
a

5

In [3]:
type(a)

int

In [4]:
id(a)

140726719232568

In [5]:
b = 5.5

In [6]:
b

5.5

In [7]:
type(b)

float

In [8]:
id(b)

2683352966224

In [9]:
age = 25
print(age)

25

In [10]:
name = "kishan"
print(name)

kishan

In [11]:
price = 19.99
print(price)

19.99

In [12]:
is_active = True

In [13]:
print(is_active)

True

In [14]:
x = 27

In [15]:
print(x)

27

In [16]:
a = 12 
b = 10
result = a + b

In [17]:
print(result)

22

In [18]:
score = 200

score = 100
print (score)

100

In [19]:
first_name = "kishan"
last_name = "Yadav"
full_name = first_name +" "+ last_name
print(full_name)

kishan Yadav

In [20]:
length = 4
width = 5
area = length * width
print(area)

20

In [21]:
x = 10
print(x)

10

In [22]:
x = 20
print(x)

20

Rules to Define Python Variable

Rule 1= Variables never starts with digit

In [23]:
1a = 5

SyntaxError: invalid decimal literal (1590746202.py, line 1)

Rule 2 = Variable name does not contain keyword

In [ ]:
def = 5

SyntaxError: invalid syntax (3093416914.py, line 1)

Rule 3 = Variables are case sensitive

In [ ]:
NIT = 25
nit

NameError: name 'nit' is not defined

Rule 4 = Variable doesnot allow special character except '_'

In [ ]:
@ = 10

SyntaxError: invalid syntax (1407219883.py, line 1)

In [ ]:
_ = 20
_

20

Rule 5 = Variable name should contain length

In [ ]:
aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa = 10
aaaaaa

NameError: name 'aaaaaa' is not defined

Rule 6 = To  separe the Vairable name '_' is always required.

In [ ]:
my name = "kishan"

SyntaxError: invalid syntax (3461161312.py, line 1)

In [ ]:
my_name = "kishan"
my_name

'viraj'

In [ ]:
#single line comment
val1 = 10

Print is use for Printing Answer

In [ ]:
a = 10
b = 20
a
b

20

In [ ]:
a = 10 
b = 20
print(a)
print(b)

10
20

In [ ]:
print(10)
print(10,20)
print('python')
print(10,20,'python')

10
10 20
python
10 20 python

In [ ]:
num1 = 20
num2 = 30
add = num1 + num2
print(add)

50

Print Result with String

In [ ]:
num1 = 10
num2 = 20
add = num1 + num2
print("The Addition",num1,"&",num2,"is =",add)

The Addition 10 & 20 is = 30

In [ ]:
name = 'python'
age = 20
city = 'hyderabad'

In [ ]:
print('My name is',name,'and i am',age,'years old from',city)

My name is python and i am 20 years old from hyderabad

Print Format Method

In [ ]:
num1 = 50
num2 = 100
add = num1 + num2
print("the addition of {} and {} is = {}".format(num1,num2,add))

the addition of 50 and 100 is = 150

first deside how the print statement should be 
like:- The addition of 20 and 30 is = 50  
then replace the variable position with curly brtacesm { } 
then appply .format(val1,val2,....val-n methodm

In [ ]:
name = 'kishan'
age = 22
city = 'Nashik'
print("Hello My name is {},i am {} years old from {}".format(name,age,city))

Hello My name is Viraj,i am 22 years old from Nashik

In [ ]:
num1 = 100
num2 = 25
num3 = 333
avg = (num1+num2+num3)/3
avg1 = round((num1+num2+num3)/3,2)
print('The Average of {}, {}, and {} is = {} or {}'.format(num1,num2,num3,avg,avg1))

The Average of 100, 25, and 333 is = 152.66666666666666 or 152.67

In [ ]:
round(avg,2)

152.67

In [ ]:
num1 = 20
num2 = 30
add = num1 + num2
print(f'The addition of {num1} and {num2} is {add}')

The addition of 20 and 30 is 50

In [ ]:
name = 'kishan'
age = 22
city = 'hyderabad'
print(f'Hellow My name {name}, and I am {age} year old from {city}')

Hellow My name Viraj, and I am 22 year old from hyderabad

In [ ]:
num1 = 100
num2 = 25
num3 = 333
avg = round((num1+num2+num3)/3,2)

In [ ]:
print(f'the average of {num1}, {num2} & {num3} is = {avg}')

the average of 100, 25 & 333 is = 152.67

In [ ]:
num1 = 10 
num2 = 20
print('The addition of',num1,'&',num2,'is =',add)
print('The addition of {} & {} is = {}'.format(num1,num2,add))
print(f'The addition of {num1} & {num2} is = {add}')

The addition of 10 & 20 is = 50
The addition of 10 & 20 is = 50
The addition of 10 & 20 is = 50

End Statement

In [ ]:
print('hello')
print('Good Morning')

hello
Good Morning

In [ ]:
print('hello',end=' ')
print('world good day')

hello world good day

In [ ]:
print('hello','hai','how are you', sep='---->')

hello---->hai---->how are you

In [ ]:
print(' hello ',' hai ',' how are you ',sep = '&')

 hello & hai & how are you

In [ ]:
print(3,'.')

3 .

In [ ]:
print(3,'.',sep= '')

3.

In [ ]:
print(1,2,end=' ')
print(3,'.',sep='')

1 2 3.

In [ ]:
# Multiple 
# line 
# comment
val1 = 10

In [ ]:
'''
multiplle
line 
comment
'''
val1 = 10

Statements

In [ ]:
p = 20 #creates an integer object with value 20 and p assigns the variable p to q
q = 20 # Create new reference q which will point to value 20. p & q will be pointing to same object 20.
r = q
p , type(p), hex(id(p))

(20, int, '0x7ffb21502c18')

In [ ]:
q , type(q), hex(id(q))

(20, int, '0x7ffb21502c18')

In [ ]:
r  , type(r), hex(id(r))

(20, int, '0x7ffb21502c18')

In [ ]:
p = 20 
p = p + 10 # here is variable overwritting
p

30

In [ ]:
9

9

In [ ]:
10 + 2

12

In [ ]:
(10+5)*3 #BODMAS

45

In [ ]:
10+5*3

25

In [ ]:
10/5 #float division

2.0

In [ ]:
10//5 #int division

2

In [ ]:
'naresh it technology'

'naresh it technology'

In [ ]:
"naresh it technology"

'naresh it technology'

In [ ]:
''' We are deeply in deputed in SITRC, Nashik for giving us
 an opportunity to work on Project “PARKING SYSTEM”
 and also for their valuable guidance and patience with
 us. We would like to Prof. Shital Patil for her support
 and co-operation in preparing project report and guiding
 us. We thank her again for the valuable inputs and
 providing us her valuable time for starting the Project
 work.'''

' We are deeply in deputed in SITRC, Nashik for giving us\n an opportunity to work on Project “PARKING SYSTEM”\n and also for their valuable guidance and patience with\n us. We would like to Prof. Shital Patil for her support\n and co-operation in preparing project report and guiding\n us. We thank her again for the valuable inputs and\n providing us her valuable time for starting the Project\n work.'

In [ ]:
'''naresh
it
technology'''

'naresh\nit\ntechnology'

In [ ]:
s='''naresh
it
technology'''

In [ ]:
s

'naresh\nit\ntechnology'

In [ ]:
import sys
sys.version

'3.12.7 | packaged by Anaconda, Inc. | (main, Oct  4 2024, 13:17:27) [MSC v.1929 64 bit (AMD64)]'

In [ ]:
import keyword
keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [ ]:
len(keyword.kwlist)

35

In [ ]:
10 + 5

15

In [ ]:
10 * 5

50

In [ ]:
2 ** 3

8

In [ ]:
3 ** 2

9

In [ ]:
# BODMAS ( BRACKET, ORDER, DIVISION, MULTIPLICATION, ADDITION, SUBTRACTION)
(10+5)*10

150

In [ ]:
_ + 3

153

In [ ]:
_ - 150

3